//Color Variables

$white: #f6f6f6;
$grey: #909090;
$black: #212121;

$yellow: #fff666;
$blue: #369;
$maroon: #741e3a;

//Headers

$logo: 3em;
$main-header: 2em;
$sub-header: 1.5em;

//Spacing

$header-spacing: 15px 0;
