//Color Variables

$white: #f6f6f6;
$grey: #909090;
$black: #212121;

//Triad Colors
$yellow: #fff666;
$dark-blue: #085a70;
$blue:  #212121;
$light-blue: #505050;
$maroon: #741e3a;

//animation colors
$main-color: $blue;
$second-color: $light-blue;

//Headers

$logo: 3em;
$main-header: 2em;
$sub-header: 1.5em;

//Spacing

$header-spacing: 15px 0;
