.m-about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.about-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  background: $white;
  width: 33.3333333%;
  height: 100%;
  padding: 25px;
  p{
    font-size: 0.7em;
  }
}
.a-image {
  width: 200px;
  border-radius: 50%;
}
@media screen and (max-width: 770px) {
  .m-about {}
  .about-container {
    flex-flow: column wrap;
    justify-content: space-around;;
    align-items: center;
    width: 66.6666666%;
    padding: 10px;
    h1 {
      font-size: 1.5em;
    }
    p {
      text-align: left;
      font-size: 0.85em;
      margin: 0;
      padding-bottom: 10px;
      line-height: normal;
    }
    a {
      padding: 10px;
      font-size: 0.8em;
    }
  }
  .a-image {
    width: 200px;
  }
}

@media screen and (max-width: 500px) {
  .about-container{
    width: 90%;
  }
  .a-image {
    width: 150px;
  }
}

@media screen and (max-width: 350px) {
  .about-container{
    width: 90%;
  }
  .a-image {
    width: 125px;
  }
}
