.about-container{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;;
  align-items: center;
  background: $white;
  width: 33.3333333%;
  height: 100%;
  padding: 25px;
}

.m-about{
  display: flex;
  justify-content: center;
  align-items: center;
  animation: colorChange 10s .25s ease-in-out infinite;
  height: 100%;
}

.a-image{
  width: 200px;
  border-radius: 50%;
  z-index: 1;
}

@media screen and (max-width: 770px){
  .about-container{
    margin: auto;
    text-align: center;
    width: 80%;
    display: inline-block;
    p{
      text-align: left;
      font-size: 0.9em;
    }
  }
}
