.container-main{
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  height: 100vh;
  .m-box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    width: 33.33333333%;
    height: 33.33333333%;
    color: $second-color;
    background: $second-color;
  }
  .box-one--colorchange{
    animation: colorChange 5s 1s ease-in-out infinite;
  }
  .box-two--colorchange{
    animation: colorChange 5s 2s ease-in-out infinite;
  }
  .box-three--colorchange{
    animation: colorChange 5s 3s ease-in-out infinite;
  }
  .box-four--colorchange{
    animation: colorChange 5s 4s ease-in-out infinite;
  }
  .box-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33333333%;
    height: 33.33333333%;
    background: $second-color;
    animation: colorChange 5s 5s ease-in-out infinite;
  }
  .box-six--colorchange{
    animation: colorChange 5s 6s ease-in-out infinite;
  }
  .box-seven--colorchange{
    animation: colorChange 5s 7s ease-in-out infinite;
  }
  .box-eight--colorchange{
    animation: colorChange 5s 8s ease-in-out infinite;
  }
  .box-nine--colorchange{
    animation: colorChange 5s 9s ease-in-out infinite;
  }
}
