.p-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.p-info{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: flex-start;
  background: $white;
  width: 33.3333333%;
  height: 100vh;
  padding: 25px;
}

.home-link{
  padding: 15px 0;
  color: $light-grey;
}

.p-skill-list{
  flex-grow: 1;
}

.arrow{
  display: none;
}

.p-gallery{
  display: flex;
  flex-flow: column wrap;
  width: 66.6666666%;
  height: 100vh;
  .gallery__box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 33.33333333%;
    .after{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
      color: $white;
      a{
        font-size: 1.5em;
        margin: 0;
        padding: 0;
        color: $white;
        transition: color 250ms;
        &:hover{
          color: $light-grey;
        }
      }
      p{
        margin: 0;
        padding: 0;
      }
    }
    &:hover{
       .after{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        transition: all 250ms;
        &:hover{
          background: rgba(0, 0, 0, .7);
        }
      }
    }
  }
  .box-1{
    background-image: url("../scss/img/mondrian.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .box-2{
    background-image: url("../scss/img/wild.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .box-3{
    background-image: url("../scss/img/shorts.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .box-4{
    background-image: url("../scss/img/candorthumb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .box-5{
    background-image: url("../scss/img/cafe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .box-6{
    background-image: url("../scss/img/blog.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 770px) {
  .p-container{
    flex-flow: column wrap;
    margin: 15px;;
  }
  .p-info{
    display: block;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height:275px;
    padding: 0;
    background: $grey;
    color: $white;
    h1{
      font-size: 1.5em;
    }
    p{
      font-size: .9em;
      margin: 0;
      padding: 0;
    }
    .p-skill-list{
      display: none;
    }
    a{
      color: $light-grey;
    }
  }
  .arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    height: 30%;
    .fa .fa-chevron-down{
      display: block;
      font-size: 20px;
      color: $white;
    }
  }
  .p-gallery{
    display: block;
    width: 100%;
    .gallery__box{
      width: 100%;
      height: 200px;
      flex-flow: row wrap;
      margin-bottom: 15px;
      .after{
        p{
          font-size: 0.7em;
        }
      }
      .after h3 a{
        font-size: 1.1em;
      }
    }
  }
}
