.container-main{
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  height: 100vh;
  .m-box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    width: 33.33333333%;
    height: 33.33333333%;
    color: $second-color;
    background: $second-color;
  }
  .box-one--colorchange{
    animation: colorChange 5s .25s ease-in-out infinite;
    font-family: 'Raleway', sans-serif;
  }
  .box-two--colorchange{
    animation: colorChange 5s 1.25s ease-in-out infinite;
    font-family: 'Raleway', sans-serif;
  }
  .box-three--colorchange{
    animation: colorChange 5s 2.25s ease-in-out infinite;
    font-family: 'Raleway', sans-serif;
  }
  .box-four--colorchange{
    animation: colorChange 5s 3.25s ease-in-out infinite;
  }
  .box-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33333333%;
    height: 33.33333333%;
    background: $second-color;
    animation: colorChange 5s 4.25s ease-in-out infinite;
  }
  .box-six--colorchange{
    animation: colorChange 5s 3.25s ease-in-out infinite;
  }
  .box-seven--colorchange{
    animation: colorChange 5s 2.25s ease-in-out infinite;
  }
  .box-eight--colorchange{
    align-items: flex-end;
    justify-content: center;
    color: $white;
    animation: colorChange 5s 1.25s ease-in-out infinite;
    a{
      margin: 20px;
      animation: fadeIn .25s ease-in;
      color: $white;
    }
  }
  .box-nine--colorchange{
    animation: colorChange 5s .25s ease-in-out infinite;
  }
}
