.logo{
  font-size: 3.5em;
  margin: 0;
  padding: 0;
  color: $yellow;
  animation: fadeInUp .5s ease-in;
}
.logo__sub-header{
  text-align: right;
  margin: 0;
  padding: 0;
  color: $dark-blue;
  animation: fadeInUp .5s ease-in;
}
