.links{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;;
  align-items: center;
  a{
    color: $light-grey;
    animation: fadeIn .25s ease-in-out;
    font-weight: bold;
      padding: 10px;
  }
}

@media screen and (max-width: 770px) {
  // .links{
  //   display: none;
  // }
}
