.links{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;;
  align-items: center;

  width: 100%;
  margin-right: 20%;

  a{
    color: $light-grey;
    animation: fadeIn .25s ease-in-out;
    font-weight: bold;
      padding: 10px;
  }
}
