*,
*:before,
*:after{
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans';
  color: $black;
  background: $light-blue;
}

a{
  text-decoration: none;
}

body::-webkit-scrollbar {
    display: none;
}
