*,
*:before,
*:after{
  box-sizing: border-box;
}

body{
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color: $black;
  background: $grey;
  letter-spacing: 1px;
}

p, ul, li{
  font-family: 'Libre Baskerville', serif;
  line-height: 25px;
}

a{
  text-decoration: none;
}

body::-webkit-scrollbar {
    display: none;
}
